[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/kohana/image.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/antpaw_extends"]
	path = modules/antpaw_extends
	url = git://github.com/antpaw/kohana-antpaw_extends.git
[submodule "modules/debugwithstyle"]
	path = modules/debugwithstyle
	url = git@github.com:antpaw/kohana_debugwithstyle.git
