/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* typo */
body{font:16px/1.5 Arial,'Liberation Sans',FreeSans,sans-serif}a:focus{outline:1px dotted}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,legend{margin-bottom:20px}

body {
	padding-top: 50px;
}

.form {
	display: table;
}
	.form .node {
		display: table-row;
	}
		.form .node .label,
		.form .node .input {
			display: table-cell;
			padding: 0 20px 20px 0;
		}
		.form .node .label {
			text-align: right;
			vertical-align: top;
			width: 250px;
		}
		.form .node .input {
			width: 300px;
		}
	.form input,
	.form label {
		vertical-align: top;
	}
	.form input[type="text"],
	.form input[type="password"],
	.form input[type="submit"],
	.form textarea {
		border: 1px solid #CDD0D3;
		padding: 4px 5px;
		width: 300px;
		background: #fff;
		position: relative;
		top: -2px;
		font: 16px/1.5 Arial,'Liberation Sans',FreeSans,sans-serif;
	}
	.form input[type="text"]:focus,
	.form .node:hover input[type="text"],
	.form input[type="password"]:focus,
	.form .node:hover input[type="password"],
	.form input[type="submit"]:focus,
	.form .node:hover input[type="submit"],
	.form textarea:focus,
	.form .node:hover textarea {
		border-color: gray;
	}
	.form input[type="submit"] {
		width: auto;
		padding: 3px 23px;
		text-align: left;
		cursor: pointer;
	}
	.form label[for] {
		cursor: pointer;
	}
	.form label[for].description:after {
		content: '';
	}
	.form label:after {
		content: ':';
	}
		.form .input .number {
			width: 100px;
			margin-right: 5px;
		}
		.form .input .datepicker {
			width: 255px;
		}